<%= provide(:page_title, @post.title) %>
<%= provide(:blog_active, 'active') %>

<div id='show'></div>
<br>

 <% if user_signed_in? %>
  <%= render 'comment' %>
<% end %>

<script>
  var PostsShowView = {
    postId: "<%= params[:id] %>",
    userId: "<%= current_user.id %>"
  }
</script>
