<%= provide(:page_title, @post.title) %>
<%= provide(:blog_active, 'active') %>

<div class="card col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-xs-center">
  <div class="card-block">
    <h4 class="card-title"><%= @post.title %></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%= @post.created_at %></h6>
    <p class="card-text"><%= @post.body %></p>
    <% if user_signed_in? %>
      <p class="card-text">
        <strong>Description:</strong>
        <%= @post.description %>
      </p>
      <p class="card-text">
        <strong>Slug:</strong>
        <%= @post.slug %>
      </p>
      <p class="card-text">
        Last updated: <%= @post.updated_at %>
      </p>
    <% end %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
      <%= link_to 'All posts', posts_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
<br>

<div id="showPost"></div>

<%= render 'comment' %>

<%= render @post.comments %>

<%= render 'comments/form', post: @post %>
<!-- <% if user_signed_in? %>
  <%= render 'comments/form', post: @post %>
<% end %>
<%= render @post.comments %> -->
